footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 3.125rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  letter-spacing: 0.04375rem;
}

/* 64rem (1024px) */
@media (min-width: 64rem) {
  footer {
    font-size: 0.875rem;
  }
}
