.modal-section {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-article {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 90%;
  max-width: 31.25rem;
  position: relative;
  transform: scale(0.8);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #f44336;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #d32f2f;
}

.modal-section .article-section__item {
  box-shadow: none;
}

@media (min-width: 30rem) {
  .modal-article {
    transform: scale(0.8);
  }
}

@media (min-width: 40rem) {
  .modal-article {
    transform: scale(1);
  }
}

@media (min-width: 48rem) {
  .modal-article {
    transform: scale(1.2);
  }
}

@media (min-width: 64rem) {
  .modal-article {
    transform: scale(1.4);
  }
}

@media (min-width: 80rem) {
  .modal-article {
    transform: scale(1.6);
  }
}
