.article-section {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 62.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.article-section__group {
  display: flex;
  width: 100%;
  max-width: 31.25rem;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 64rem) {
  .article-section {
    flex-direction: row;
    align-items: stretch;
  }
  .article-section__group {
    max-width: 30.625rem;
  }
}

/* Flex_Item */
.article-section__item {
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(216, 216, 216, 0.75);
  cursor: pointer;
}

/* 1 col */
.article-section__item--1 {
  height: 23.75rem;
  background-color: white;
}

.article-section__item--1 .article-section__title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.article-section__item--1 .article-section__title-text {
  font-size: 1rem;
  line-height: 1.0625rem;
  letter-spacing: 0rem;
}

.article-section__item--1 .article-section__address {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  font-style: normal;
}

.article-section__item--1 .article-section__map {
  margin-inline: auto;
  margin-top: 0.25rem;
  height: 80%;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.article-section__item--2 {
  height: 19.375rem;
  background-color: #dc5e48;
  padding-top: 1.3625rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;
  padding-bottom: 0.5625rem;
}

.article-section__item--2 .article-section__title {
  margin-inline: auto;
  width: 90%;
  max-width: 19.1875rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.article-section__item--2 .article-section__contents {
  margin-top: 2.21875rem;
  display: flex;
  flex-direction: column;
}

.article-section__item--2 .article-section__subtitle--1 {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: white;
  letter-spacing: 0rem;
}

.article-section__item--2 .article-section__subtitle--2 {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: white;
  letter-spacing: 0rem;
  margin-top: 1.75rem;
}

.article-section__item--2 .article-section__container {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5625rem;
}

.article-section__item--2 .article-section__text {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.25rem;
  font-size: 1.88rem;
  line-height: 1.6rem;
  color: white;
}

.article-section__item--2 .article-section__unit {
  font-size: 0.875rem;
  line-height: 1.03125rem;
  letter-spacing: 0rem;
  color: white;
}

.article-section__item--2 .article-section__img {
  display: block;
  height: 80%;
  width: 80%;
  max-width: 21.875rem;
}

.article-section__item--2 .article-section__info {
  margin-top: 1.5rem;
  text-align: right;
  font-size: 0.5625rem;
  line-height: 1.03125rem;
  color: white;
  letter-spacing: 0.028rem;
}

.article-section__item--3 {
  background-color: white;
  padding: 1rem;
}

.article-section__item--3 .article-section__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-section__item--3 .article-section__title-text {
  font-size: 1.375rem;
  line-height: 1.063rem;
  letter-spacing: 0rem;
  color: black;
}

.article-section__item--3 .article-section__title-contents {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  padding-top: 1.25rem;
}

.article-section__item--3 .article-section__title-main {
  height: 100%;
  width: 100%;
  grid-row: span 3 / span 3;
  grid-column: span 3 / span 3;
}

.article-section__item--3 .article-section__title-sub {
  height: 100%;
  width: 100%;
  grid-row: span 1 / span 1;
  grid-column: span 1 / span 1;
}

/* 통합과정 필요. */
.article-section__item--4 {
  height: 13.75rem;
  padding: 1.5rem;
  background-color: #846ab4;
}

.article-section__item--4 .article-section__title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.article-section__item--4 .article-section__title-text {
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.129375rem;
  color: white;
}

.article-section__item--4 .article-section__contents {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 24.0625rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.article-section__item--5 {
  background-color: white;
  padding: 1.5rem;
}

.article-section__item--5 .article-section__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-section__item--5 .article-section__title-text {
  font-size: 1.125rem;
}

.article-section__item--5 .article-section__contents-img {
  margin-inline: auto;
  padding-top: 1rem;
  width: 100%;
}
.article-section__item--5 .article-section__contents-text {
  display: block;
  padding-top: 1rem;
  font-size: 0.675rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  margin: 0;
}

.article-section__item--6 {
  background: #e9bc06;
}

.article-section__item--6 .article-section__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.article-section__item--6 .article-section__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

.article-section__item--6 .article-section__contents-img {
  margin-inline: auto;
}

.article-section__item--6 .article-section__contents-container {
  text-align: center;
}

.article-section__item--6 .article-section__contents-text1 {
  display: block;
  font-size: 1rem;
  letter-spacing: -0.028125rem;
  color: white;
}

.article-section__item--6 .article-section__contents-text2 {
  display: block;
  margin-top: 1rem;
  font-size: 0.725rem;
  letter-spacing: -0.01875rem;
  line-height: 1.25rem;
  color: white;
}

@media (min-width: 30rem) {
  .article-section__item--6 .article-section__contents-text1 {
    font-size: 1.125rem;
  }
}

@media (min-width: 64rem) {
  .article-section__item--1 .article-section__title-text {
    font-size: 1.375rem;
  }
  .article-section__item--1 .article-section__address {
    font-size: 0.75rem;
  }
  .article-section__item--1 .article-section__map {
    margin-top: 0.75rem;
    height: 100%;
    width: 100%;
  }

  .article-section__item--2 .article-section__info {
    margin-top: 1rem;
  }
  .article-section__item--3 .article-section__title-contents {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  .article-section__item--3 {
    max-height: 25rem;
  }
  .article-section__item--4 {
    height: 13.75rem;
  }
  .article-section__item--5 {
    height: 33.125rem;
  }
  .article-section__item--5 .article-section__title-text {
    font-size: 1.375rem;
  }
  .article-section__item--5 .article-section__contents-text {
    font-size: 0.8rem;
  }
  .article-section__item--6 {
    height: 21.25rem;
  }
  .article-section__item--6 .article-section__contents {
    flex-direction: row;
    align-items: start;
  }
  .article-section__item--6 .article-section__contents-img {
    margin-inline: 0;
  }
  .article-section__item--6 .article-section__contents-container {
    text-align: left;
  }
  .article-section__item--6 .article-section__contents-text2 {
    font-size: 0.7rem;
  }
}

@media (min-width: 80rem) {
  .article-section__item--6 .article-section__contents-text2 {
    margin-top: 0rem;
    font-size: 0.75rem;
  }
}
