main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  gap: 1.25rem;
  font-family: "Noto Sans JP", sans-serif;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

@media (min-width: 30rem) {
  .xs-hidden {
    display: none;
  }
  .xs-block {
    display: block;
  }
}

@media (min-width: 40rem) {
  .sm-hidden {
    display: none;
  }
  .sm-block {
    display: block;
  }
}

/* md:hidden (768px 미만에서 숨김) */
@media (min-width: 48rem) {
  .md-hidden {
    display: none;
  }
  .md-block {
    display: block;
  }
}

/* lg:hidden (1024px 미만에서 숨김) */
@media (min-width: 64rem) {
  .lg-hidden {
    display: none;
  }
  .lg-block {
    display: block;
  }
}

@media (min-width: 80rem) {
  .xl-hidden {
    display: none;
  }
  .xl-block {
    display: block;
  }
}
