.section-subtitle {
  max-width: 62.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-subtitle article {
  max-width: 26.25rem;
  padding: 2.5rem;
}

.section-subtitle__typo {
  background-color: #07ab74;
}

.section-subtitle__text {
  background-color: white;
  font-size: 0.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.14875rem;
}

.section-subtitle__text-p {
  margin: 0;
}

@media (min-width: 64rem) {
  .section-subtitle {
    flex-direction: row;
    align-items: stretch;
  }
}
