.section-title {
  position: relative;
  margin-inline: auto;
  max-width: 31.25rem;
  z-index: 0;
}

.section-title__img {
  width: 100%;
  height: auto;
}

.section-title__overlay {
  position: absolute;
  top: 1.625rem;
  display: flex;

  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.25rem 0 1.25rem;
  box-sizing: border-box;
}

.section-title__overlay-img {
  margin-inline: auto;
  width: 80%;
  max-width: 642px;
  height: auto;
}

.section-title h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 0.59375rem;
  margin-bottom: 1rem;
  font-size: 1.563rem;
  line-height: 1.125rem;
  letter-spacing: 0.078125rem;
}

@media (max-width: 30rem) {
  .section-title__overlay {
    height: 4.875rem;
    top: 0.975rem;
  }
  .section-title__overlay-img {
    width: 75%;
  }
  .section-title h2 {
    font-size: 70%;
    margin-top: 0.35625rem;
    margin-bottom: 0.6rem;
  }
}

@media (min-width: 30rem) {
  .section-title__overlay {
    height: 5.6875rem;
    top: 1.1375rem;
  }
  .section-title__overlay-img {
    width: 75%;
  }
  .section-title h2 {
    font-size: 75%;
    margin-top: 0.415625rem;
    margin-bottom: 0.7rem;
  }
}

@media (min-width: 40rem) {
  .section-title__overlay {
    height: 5.6875rem;
    top: 1.1375rem;
  }
  .section-title__overlay-img {
    width: 75%;
  }
  .section-title h2 {
    font-size: 75%;
    margin-top: 0.415625rem;
    margin-bottom: 0.7rem;
  }
}

@media (min-width: 48rem) {
  .section-title__overlay {
    height: 6.5rem;
    top: 1.3rem;
  }
  .section-title__overlay-img {
    width: 80%;
  }
  .section-title h2 {
    font-size: 80%;
    margin-top: 0.475rem;
    margin-bottom: 0.8rem;
  }
}

@media (min-width: 64rem) {
  .section-title {
    max-width: 62.5rem;
  }
  .section-title__overlay {
    height: 8.125rem;
  }
  .section-title__overlay-img {
    width: auto;
  }
  .section-title h2 {
    margin-top: 0.59375rem;
    margin-bottom: 1rem;
    font-size: 1.563rem;
  }
}
